<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car_make %>
    <%= form.text_field :car_make %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :colour %>
    <%= form.text_field :colour %>
  </div>

  <div class="field">
    <%= form.label :model_year %>
    <%= form.number_field :model_year %>
  </div>

  <div class="field">
    <%= form.label :engine %>
    <%= form.text_field :engine %>
  </div>

  <div class="field">
    <%= form.label :top_speed %>
    <%= form.number_field :top_speed %>
  </div>

  <div class="field">
    <%= form.label :features %>
    <%= form.text_area :features %>
  </div>

  <div class="field">
    <%= form.label :transmission %>
    <%= form.number_field :transmission %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_area :condition %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect{|c|[c.car_type,c.id]} %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg,image/PNG' %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
