<% if @listing.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
    <ul>
    <% @listing.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="listing-class">
<div class="listing-class-item">
<%= form_with(model: listing, local: true) do |form| %>

<div class="field">>
  <%= form.label :transmission %><br>
  <% Listing.transmissions.keys.each do |s| %>
    <%= form.label s  %>
    <%= form.radio_button :transmission, s %>

  <% if s == listing.transmission %>
    <% form.radio_button :transmission, :checked => true %>
    <% end %>
  <% end %>
</div>


<div class="field">
<%= form.label :car_make %><br>
<%= form.select :car_make, options_for_select(["Mazda","Toyota","Mitsubishi","Subaru","Honda","Nissan","Suzuki"],"Mazda") %><br>
</div>

<div class="field">
    <%= form.label :category_id %><br>
    <%= form.select :category_id, Category.all.collect{|c|[c.car_type,c.id]} %><br>
</div>

<div class="field">
<%= form.label :condition %><br>
<%= form.select :condition, options_for_select(["New", "Excellent", "Mint", "Used","Fair", "Poor"],"Fair")%>
 <br></div>


 <div class="field">
    <%= form.label :model_year %><br>
    <%= form.number_field :model_year %><br>
  </div>

  <div class="field">
    <%= form.label :colour %><br>
    <%= form.text_field :colour %><br>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= form.text_field :price %><br>
  </div>
 
  <div class="field">
    <%= form.label :engine %><br>
    <%= form.text_field :engine %><br>
  </div>

  <div class="field">
    <%= form.label :top_speed %><br>
    <%= form.number_field :top_speed %><br>
  </div>

  <div class="field">
    <%= form.label :features %><br>
    <%= form.text_area :features %><br>
  </div>


  <div class="field">
    <%= form.label :location %><br>
    <%= form.text_field :location %><br>
  </div>


  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, required: true %><br>
  </div>

  <div class="field">
    <%= form.label :pictures %>
    <%= form.file_field :pictures, multiple: true, accept:
    'image/png,image/gif,image/jpeg,image/jpg' %><br>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>

    <% end %>
    </div>
</div>